SearcherCore/SearcherCore/Web References/net.bing.api/search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://schemas.microsoft.com/LiveSearch/2008/03/Search" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/03/Search" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/03/Search">
      <xsd:complexType name="SearchRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" default="2.2" name="Version" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Market" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UILanguage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="queryValue" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AppId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Adult" type="tns:AdultOption" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Radius" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Options" type="tns:ArrayOfSearchOption" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Sources" type="tns:ArrayOfSourceType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Web" type="tns:WebRequest" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Image" type="tns:ImageRequest" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phonebook" type="tns:PhonebookRequest" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Video" type="tns:VideoRequest" />
          <xsd:element minOccurs="0" maxOccurs="1" name="News" type="tns:NewsRequest" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MobileWeb" type="tns:MobileWebRequest" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Translation" type="tns:TranslationRequest" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="AdultOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Off" />
          <xsd:enumeration value="Moderate" />
          <xsd:enumeration value="Strict" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfSearchOption">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SearchOption" type="tns:SearchOption" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SearchOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DisableLocationDetection" />
          <xsd:enumeration value="EnableHighlighting" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfSourceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SourceType" type="tns:SourceType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SourceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Spell" />
          <xsd:enumeration value="Web" />
          <xsd:enumeration value="Image" />
          <xsd:enumeration value="RelatedSearch" />
          <xsd:enumeration value="Phonebook" />
          <xsd:enumeration value="Showtimes" />
          <xsd:enumeration value="Weather" />
          <xsd:enumeration value="Video" />
          <xsd:enumeration value="Ad" />
          <xsd:enumeration value="XRank" />
          <xsd:enumeration value="InstantAnswer" />
          <xsd:enumeration value="News" />
          <xsd:enumeration value="queryValueLocation" />
          <xsd:enumeration value="MobileWeb" />
          <xsd:enumeration value="Translation" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="WebRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FileType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Options" type="tns:ArrayOfWebSearchOption" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SearchTags" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWebSearchOption">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WebSearchOption" type="tns:WebSearchOption" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="WebSearchOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DisableHostCollapsing" />
          <xsd:enumeration value="DisablequeryValueAlterations" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImageRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PhonebookRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FileType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SortBy" type="tns:PhonebookSortOption" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LocId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PhonebookSortOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default" />
          <xsd:enumeration value="Relevance" />
          <xsd:enumeration value="Distance" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="VideoRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Filters" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SortBy" type="tns:VideoSortOption" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="VideoSortOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Relevance" />
          <xsd:enumeration value="Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="NewsRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LocationOverride" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SortBy" type="tns:NewsSortOption" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="NewsSortOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Relevance" />
          <xsd:enumeration value="Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MobileWebRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Options" type="tns:ArrayOfMobileWebSearchOption" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMobileWebSearchOption">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MobileWebSearchOption" type="tns:MobileWebSearchOption" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="MobileWebSearchOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DisableHostCollapsing" />
          <xsd:enumeration value="DisablequeryValueAlterations" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TranslationRequest">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SourceLanguage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TargetLanguage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Version" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="queryValue" type="tns:queryValue" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Spell" type="tns:SpellResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Web" type="tns:WebResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Image" type="tns:ImageResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RelatedSearch" type="tns:RelatedSearchResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phonebook" type="tns:PhonebookResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Video" type="tns:VideoResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InstantAnswer" type="tns:InstantAnswerResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="News" type="tns:NewsResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MobileWeb" type="tns:MobileWebResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Translation" type="tns:TranslationResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfError" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="queryValue">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="SearchTerms" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AlteredqueryValue" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AlterationOverridequeryValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SpellResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfSpellResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSpellResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SpellResult" type="tns:SpellResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SpellResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WebResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfWebResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWebResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WebResult" type="tns:WebResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WebResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CacheUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DisplayUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SearchTags" type="tns:ArrayOfWebSearchTag" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DeepLinks" type="tns:ArrayOfDeepLink" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWebSearchTag">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WebSearchTag" type="tns:WebSearchTag" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WebSearchTag">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDeepLink">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DeepLink" type="tns:DeepLink" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeepLink">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImageResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfImageResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfImageResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ImageResult" type="tns:ImageResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImageResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MediaUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DisplayUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Width" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Height" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FileSize" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ContentType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="tns:Thumbnail" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Thumbnail">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ContentType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Width" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Height" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FileSize" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RunTime" type="xsd:unsignedInt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedSearchResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfRelatedSearchResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRelatedSearchResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RelatedSearchResult" type="tns:RelatedSearchResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedSearchResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PhonebookResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LocalSerpUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfPhonebookResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPhonebookResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PhonebookResult" type="tns:PhonebookResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PhonebookResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Business" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StateOrProvince" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CountryOrRegion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UniqueId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BusinessUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserRating" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReviewCount" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DisplayUrl" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VideoResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfVideoResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfVideoResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="VideoResult" type="tns:VideoResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VideoResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PlayUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SourceTitle" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RunTime" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ClickThroughPageUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StaticThumbnail" type="tns:Thumbnail" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InstantAnswerResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfInstantAnswerResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfInstantAnswerResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="InstantAnswerResult" type="tns:InstantAnswerResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InstantAnswerResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ContentType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ClickThroughUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attribution" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InstantAnswerSpecificData" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RelatedSearches" type="tns:ArrayOfNewsRelatedSearch" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfNewsResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfNewsRelatedSearch">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="NewsRelatedSearch" type="tns:NewsRelatedSearch" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewsRelatedSearch">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfNewsResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="NewsResult" type="tns:NewsResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewsResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Snippet" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BreakingNews" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewsCollections" type="tns:ArrayOfNewsCollection" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfNewsCollection">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="NewsCollection" type="tns:NewsCollection" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewsCollection">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NewsArticles" type="tns:ArrayOfNewsArticle" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfNewsArticle">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="NewsArticle" type="tns:NewsArticle" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewsArticle">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Snippet" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MobileWebResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Total" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Offset" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfMobileWebResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMobileWebResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MobileWebResult" type="tns:MobileWebResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MobileWebResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DisplayUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateTime" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TranslationResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfTranslationResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTranslationResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TranslationResult" type="tns:TranslationResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TranslationResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="TranslatedTerm" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:Error" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Error">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:unsignedInt" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Message" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Parameter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HelpUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SourceType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SourceTypeErrorCode" type="xsd:unsignedInt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SearchRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="parameters" type="tns:SearchRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="parameters" type="tns:SearchResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SearchRequestMessage">
    <wsdl:part name="parameters" element="tns:SearchRequest" />
  </wsdl:message>
  <wsdl:message name="SearchResponseMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="BingPortType">
    <wsdl:operation name="Search">
      <wsdl:input wsa:Action="http://schemas.microsoft.com/LiveSearch/2008/03/Search/BingPortType/SearchRequest" message="tns:SearchRequestMessage" />
      <wsdl:output wsa:Action="http://schemas.microsoft.com/LiveSearch/2008/03/Search/BingPortType/SearchResponse" message="tns:SearchResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BingPortBinding" type="tns:BingPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://schemas.microsoft.com/LiveSearch/2008/03/Search/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BingService">
    <wsdl:port name="BingPort" binding="tns:BingPortBinding">
      <soap:address location="http://api.bing.net:80/soap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>